<div class="task" data-task-id="{{id}}">
        <div class="task__circle">{{{statusIcon}}}</div>
        <div class="task__body">
            <header class="task__header">
                <h2 class="task__title">{{taskTitle}}</h2>
                <div class="task__more-options">
                    <button class="task__button--more-options"> 
                        <svg width="28px" height="28px" viewBox="0 0 24 24" fill="#ff4d6d" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8,12a2,2,0,1,1-2-2A2,2,0,0,1,8,12Zm10-2a2,2,0,1,0,2,2A2,2,0,0,0,18,10Zm-6,0a2,2,0,1,0,2,2A2,2,0,0,0,12,10Z" id="Horizontal"/>
                        </svg>
                    </button>
                    <div class="task__actions">
                        <button class="task__button task__button--view">View</button>
                        <button class="task__button task__button--vital">Vital</button>
                        <button class="task__button task__button--edit">Edit</button>
                        <button class="task__button task__button--delete">Delete</button>
                        <button class="task__button task__button--finish">Finish</button>
                    </div>
                </div>
            </header>
            <div class="task__content">
                <p class="task__description">{{taskDescriptionShort}}</p>
                {{#if image}}
                    <img alt="" class="task__image" src="{{image}}">
                {{/if}}
            </div>
            <footer class="task__footer">
                <p class="task__priority">Priority: <span class="task__priority--{{priority}}"> {{priorityLabel}} </span> </p>
                <p class="task__status"> Status: <span class="task__status--{{status}}"> {{statusLabel}} </span> </p>
                <p class="task__date"> Created on: {{createdAtLabel}} </p>
            </footer>
        </div>
</div>