<div class="view-task__item" data-task-id="{{id}}">
    <header class="view-task__header">
        {{#if image}}
            <img src="{{image}}" class="view-task__header-img" alt="" />
        {{/if}}
        <div class="view-task__meta">
            <h2 class="view-task__title">{{taskTitle}}</h2>
            <p class="view-task__priority">
                Priority: <span class="view-task__priority--{{priority}}">{{priorityLabel}}</span>
            </p>
            <p class="view-task__status">
                Status: <span class="view-task__status--{{status}}">{{statusLabel}}</span>
            </p>
            <p class="view-task__date">
                Created on: {{createdAtLabel}}
            </p>
        </div>
        <button class="view-task__back" data-action="history-back">
            Go Back
        </button>
    </header>

    <div class="view-task__content">
        <p class="view-task__description">{{taskDescription}}
        </p>
    </div>

    <footer class="view-task__actions">
        <button
            type="button"
            class="view-task__button view-task__button--delete"
            data-delete-task>
            <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="36" height="36" rx="8" fill="#ff4d6d" />
                <path
                d="M12 25C12 26.1 12.9 27 14 27H22C23.1 27 24 26.1 24 25V15C24 13.9 23.1 13 22 13H14C12.9 13 12 13.9 12 15V25ZM24 10H21.5L20.79 9.29C20.61 9.11 20.35 9 20.09 9H15.91C15.65 9 15.39 9.11 15.21 9.29L14.5 10H12C11.45 10 11 10.45 11 11C11 11.55 11.45 12 12 12H24C24.55 12 25 11.55 25 11C25 10.45 24.55 10 24 10Z"
                fill="white" />
            </svg>
        </button>
        <button
            type="button"
            class="view-task__button view-task__button--edit"
            data-open="task-edit-modal">
            <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="36" height="36" rx="8" fill="#ff4d6d" />
                <path
                d="M21 8.94979C22.296 8.94979 23.496 9.35979 24.477 10.0598L15.343 19.1928C15.2475 19.285 15.1713 19.3954 15.1189 19.5174C15.0665 19.6394 15.0389 19.7706 15.0377 19.9034C15.0366 20.0362 15.0619 20.1678 15.1122 20.2907C15.1625 20.4136 15.2367 20.5253 15.3306 20.6192C15.4245 20.7131 15.5361 20.7873 15.659 20.8376C15.7819 20.8879 15.9136 20.9132 16.0464 20.912C16.1792 20.9109 16.3104 20.8833 16.4324 20.8309C16.5544 20.7785 16.6648 20.7023 16.757 20.6068L25.891 11.4728C26.6141 12.4878 27.0019 13.7035 27 14.9498V24.9498C27 25.4802 26.7893 25.9889 26.4142 26.364C26.0391 26.7391 25.5304 26.9498 25 26.9498H11C10.4696 26.9498 9.96086 26.7391 9.58579 26.364C9.21071 25.9889 9 25.4802 9 24.9498V10.9498C9 10.4194 9.21071 9.91065 9.58579 9.53557C9.96086 9.1605 10.4696 8.94979 11 8.94979H21ZM27.657 8.29279C27.8445 8.48031 27.9498 8.73462 27.9498 8.99979C27.9498 9.26495 27.8445 9.51926 27.657 9.70679L25.89 11.4728C25.5006 10.9261 25.0227 10.4482 24.476 10.0588L26.242 8.29279C26.4295 8.10532 26.6838 8 26.949 8C27.2142 8 27.4695 8.10532 27.657 8.29279Z"
                fill="white" />
            </svg>
        </button>
        <button
            type="button"
            class="view-task__button view-task__button--status"
            data-vital-task>
            <svg
                width="36"
                height="36"
                viewBox="0 0 36 36"
                fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <rect width="36" height="36" rx="8" fill="#ff4d6d" />
                <path
                d="M13 11.875C13 10.5821 13.5136 9.34209 14.4279 8.42785C15.3421 7.51361 16.5821 7 17.875 7C19.1679 7 20.4079 7.51361 21.3221 8.42785C22.2364 9.34209 22.75 10.5821 22.75 11.875C22.75 14.7374 21.1364 18.8105 20.1825 20.9669C19.7811 21.8769 18.8719 22.4375 17.875 22.4375C16.8789 22.4375 15.9697 21.8769 15.5675 20.9669C14.6128 18.8105 13 14.7366 13 11.875ZM17.875 29.75C18.6292 29.75 19.3525 29.4504 19.8858 28.9171C20.4191 28.3838 20.7188 27.6605 20.7188 26.9062C20.7188 26.152 20.4191 25.4287 19.8858 24.8954C19.3525 24.3621 18.6292 24.0625 17.875 24.0625C17.1208 24.0625 16.3975 24.3621 15.8642 24.8954C15.3309 25.4287 15.0312 26.152 15.0312 26.9062C15.0312 27.6605 15.3309 28.3838 15.8642 28.9171C16.3975 29.4504 17.1208 29.75 17.875 29.75Z"
                fill="white" />
            </svg>
        </button>
</div>